
        #avatar{
            display: none;
        }
        #avatar_img{
            margin-left: 20px;
        }
        .error{
            color: red;
        }
        .jumbotron{
            margin-top: 50px;
            opacity:0.9;
        }