{% extends 'layout.html' %}

{% block title_link %}
    <link rel="stylesheet" href="/static/blog/css/article_detail.css">
{% endblock %}

{% block layout %}
    {% csrf_token %}
        <div class="jumbotron clearfix">
            <h3 class="text-center">{{ article.title }}</h3>
            <hr>
        <div>
            <span>{{ article.content|safe }}</span>

        </div>
            <hr>
            <div id="up-or-down" style="float: right">
                <div class="up action">
                    <span><img width="40px" height="40px" src="/static/blog/image/点赞.png" alt=""></span>
                    <br>
                    <span class="small">推荐(<span class="up_count">{{ article.up_count }}</span>)</span>
                    
                </div>
                <div class="down action">
                    <span><img width="40px" height="40px" src="/static/blog/image/踩.png" alt=""></span>
                    <br>
                    <span class="small ">不推荐(<span class="down_count">{{ article.down_count }}</span>)</span>
                </div>
                <span class="clearfix hint"></span>
            </div>

        </div>
{% endblock %}

{% block script %}
    <script>
        $('.action').click(function () {
            var is_up = $(this).hasClass('up');
            console.log(is_up);
            $.ajax({
                //点赞
                url:'/digg/',
                type:'post',
                data:{
                    "csrfmiddlewaretoken":$('[name="csrfmiddlewaretoken"]').val(),
                    "is_up":is_up,
                    "article_id":{{ article.pk }}
                },
                success:function (data) {
                    console.log(data);
                   if (data.status){
                       if (is_up){
                           let up_obj = $('.up_count');
                           let up_count = Number(up_obj.html());
                           up_obj.html(up_count+1)
                       }else{
                           let down_obj = $('.down_count');
                           let down_count = Number(down_obj.html());
                           down_obj.html(down_count+1)
                       }
                   }else{
                       if (data.handled) {
                         $('.hint').html('你已经推荐过');

                       }
                       else{
                           $('.hint').html('你已经反对过');

                       }
                       setTimeout(function () {
                            $('.hint').html('')
                           },2000)

                   }
                }
            });
        })
    </script>
{% endblock %}