{% extends 'layout.html' %}

{% block title_link %}
    <title>文章管理</title>
{% endblock %}

{% block layout %}
    <div class="jumbotron">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                          data-toggle="tab">新增文章</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div>
                            <label for="title">文章标题</label>
                            <input type="text" id="title" class="form-control" name="title">
                        </div>

                        <div class="form-group">
                           <label for="contetn">文章内容</label>
                        <textarea name="content" id="contetn" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="select_cate">选择分类</label>
                            <select name="select_id" id="select_cate" class="form-control">
                                {% for cate in category %}
                                    <option value="{{ cate.nid }}">{{ cate.title }}</option>
                                
                                {% endfor %}
                                
                            </select>

                        </div>
                        <div class="form-group">
                                <label for="select_tag">选择标签</label>
                                <select name="tag_id" id="select_tag" class="form-control">
                                    {% for t in tag %}
                                        <option value="{{ t.nid }}">{{ t.title }}</option>
                                    {% endfor %}

                                </select>

                            </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="提交">

                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block script %}
    <script charset="utf-8" src="/static/kindeditor/kindeditor-all-min.js"></script>
    <script>
        KindEditor.ready(function (K) {
            window.editor = K.create('#contetn',{
                width:'100%',
                height:'500px',
                resizeType:0,
                uploadJson:'/upload/',
                extraFileUploadParams:{
                    csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val(),
                },
            });
        });
    </script>
{% endblock %}