{% extends 'layout.html' %}

{% block layout %}
    {% csrf_token %}

    <div class="jumbotron jum" style="padding: 10px;">
        <h1>{{ blog.title }}
            <small>{{ user.username }}</small>
            <img src="/media/{{ user.avatar }}" alt="" height="70px" width="80px" class="pull-right">
        </h1>
        {% if user.username == request.user.username %}
         <div class="pull-right">
            <a href="/{{ user.username }}/manage_article/" class="btn btn-primary">新增文章</a>

            <a href="" type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal_category">新增分类</a>
            <a href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_tag">新增标签</a>
            <a href="" class="btn btn-primary">修改资料</a>
            <a href="" class="btn btn-primary">更换头像</a>
        </div>
        {% endif %}

    </div>
    <div class="jumbotron">
        {% for article in article_list %}
            <div class="media">
                <div class="media-left">
                    {#                                <a href="#">#}
                    {#                                    <img class="media-object" width="56" height="56" src="media/{{ article.user.avatar }}" alt="...">#}
                    {#                                </a>#}
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a
                            href="/{{ user.username }}/articles/{{ article.nid }}">{{ article.title }}</a></h4>
                    <span class="aritcle_desc">{{ article.desc }}</span>
                </div>
                <div class="pull-left" style="margin-top: 10px;margin-left: 10px">
                    <a href="/{{ user.username }}/articles/{{ article.nid }}">加载全文</a>&nbsp;&nbsp;

                    {% if not request.user.is_anonymous %}
                        <a href="/{{ username }}/edit/{{ article.nid }}">编辑</a>&nbsp;&nbsp;
                        <a href="/{{ username }}/remove/{{ article.nid }}">删除</a>
                    {% endif %}

                </div>
                <div class="pull-right pub_info">
                    <span>发布于{{ article.create_time }}</span>
                    <a href="#"><span class="glyphicon glyphicon-comment icon"></span> <span
                            class="badge">评论{{ article.comment_count }}</span></a>
                    <a href="#"><span class="glyphicon glyphicon-heart icon"></span> <span
                            class="badge">点赞{{ article.up_count }}</span></a>
                </div>
            </div>
            <hr>

        {% endfor %}


    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->
{#    添加分类模态框#}
    <div class="modal fade" id="myModal_category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增分类</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="category_title">分类名：</label>
                        <input type="text" id="category_title" class="form-control">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="category_btn">保存并退出</button>
                </div>
            </div>
        </div>
    </div>

{#      添加标签#}
    <div class="modal fade" id="myModal_tag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增标签</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="tag_title">标签名：</label>
                        <input type="text" id="tag_title" class="form-control">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="tag_btn">保存并退出</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script>

        //新增分类
        $('#category_btn').click(function () {
            $.ajax({
                url:'/add_category/ ',
                type:'post',
                data:{
                    'category_title':$('#category_title').val(),
                    'csrfmiddlewaretoken':$('[name=csrfmiddlewaretoken]').val(),
                    'blog_id':{{ blog.pk }}
                },
                success:function (data) {
                    if (data.status){
                        location.href = "/"+data.user+"/"
                    }
                }
            })
        })

        //新增标签
        $('#tag_btn').click(function () {
            $.ajax({
                url:'/add_tag/ ',
                type:'post',
                data:{
                    'tag_title':$('#tag_title').val(),
                    'csrfmiddlewaretoken':$('[name=csrfmiddlewaretoken]').val(),
                    'blog_id':{{ blog.pk }}
                },
                success:function (data) {
                    if (data.status){
                        location.href = "/"+data.user+"/"
                    }
                }
            })
        })
    </script>
{% endblock %}