{% extends 'base.html' %}

{% block title_link %}
    <title>注册</title>
    <script src="/static/blog/js/register.js"></script>
    <link rel="stylesheet" href="/static/blog/css/register.css">

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="jumbotron">
                    <h3>注册</h3>
                    <hr>
                    <form id="form">
                    {% csrf_token %}
                        {% for foo in form %}
                            <div class="form-group">
                                <label for="{{ foo.auto_id }}">{{ foo.label }}</label>
                                {{ foo }}
                                <span class="error pull-right"></span>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                                <label for="blog_title">个人博客标题</label>
                                <input type="text" id="blog_title" class="form-control">
                            </div>
                        <div class="form-group">
                            <label for="avatar">头像<img src="/static/blog/image/default.jpg" id="avatar_img" alt="" width="100" height="100"></label>
                            <input type="file" id="avatar">
                        </div>

                        <input type="button" id="reg_btn" class="btn btn-primary" value="注册">
                        <span id="reg_error"></span>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
    $('#reg_btn').click(function () {
        var formdata = new FormData();

        //  获取form下的有效控件
        var request_data = $('#form').serializeArray();
        console.log(request_data);
        $.each(request_data,function (index,data) {
            formdata.append(data.name,data.value)
        });

        //上传文件
        formdata.append('avatar',$('#avatar')[0].files[0]);
        formdata.append('blog_title',$('#blog_title').val())

        $.ajax({
            url: '/register/',
            type: 'post',
            contentType:false,
            processData:false,
            data:formdata,
            success: function (data) {
                if (data.user){
                    //注册成功
                    location.href = '/home/'
                }else{
                    //注册信息错误的处理

                    //清空错误信息
                    $('span.error').html('');
                    $('.form-group').removeClass('has-error');
                    $.each(data.msg,function (field,error_list) {
                        if (field == '__all__'){
                            $('#id_r_pwd').next().html(error_list[0]).parent().addClass('has-error')
                        }
                        $('#id_'+field).next().html(error_list[0]).parent().addClass('has-error')
                    })

                }
            }
        })

    });

    $('#avatar').change(function () {
        //上传头像预览
            //获取用户选中的文件对象
        var file_obj = $(this)[0].files[0];
        var read = new FileReader();

        //读取文件对象,读取文件是异步的，在给avatar_img赋值的时候可能该文件还没有读取完毕，会造成找不到图片
        read.readAsDataURL(file_obj);
        // 读取后的结果存放在result

        read.onload = function(){
            $('#avatar_img').attr('src',read.result)
        }
    })
    </script>
{% endblock %}